   .card1,
   .card2,
   .card3 {
    display: block;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2.5px solid black;
    height: fit-content;
   }
   .card-img-top {
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: fit-content;
     width: fit-content;
   }
   .card-img-top2 {
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: fit-content;
     width: fit-content;
   }
   .card-img-top1 {
     width: 20rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
   }
   .card-group {
     padding-top: 5rem;
     padding-bottom: 2.5rem;
   }
   .card-group1 {
     padding-top: rem;
     padding-bottom: 5rem;
   }