.cardmb-3 {
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;

}
.card-texts {
    color: black;
    padding-right: 5%;
    font-size: 20px;
    padding-left: 10%;
}
.card-title {
    color: black;
    text-align: center;
    padding-left: 10%;
}